page{
  height:100%;
}
.index_box{
  padding-bottom:100rpx;
}
.plate_box{
  width:92%;
  height:auto;
  box-shadow: 0 2rpx 10rpx 0rpx #ccc;
  margin:0 auto;
  padding-top:20rpx;
  margin-top:30rpx;
  border-radius: 25rpx;
  padding-bottom:30rpx;
}
/*首页-轮播*/
.banner_warp{
  width:100%;
  height:400rpx;
  margin:0 auto;
  border-radius: 20rpx;
}
.banner_warp .banner{
  height:400rpx;
  overflow: visible;
}
.banner_warp .li{
  border-radius: 20rpx;
  width: 100%;
  height:400rpx;
  text-align: center;
}
.banner_warp image{
  display: inline-block;
  width:94%;
  height:400rpx;
  border-radius: 20rpx;
  margin:0 auto;
  text-align: center;
}
/*首页-活动*/
.activityBox{
  width:94%;
  height:280rpx;
  margin:0 auto;
  box-shadow: 0 2rpx 10rpx 0rpx #ccc;
  margin-top:20rpx;
  border-radius: 10rpx;
  display: flex;
  justify-content:space-around;
  align-items:center
}
.activityBox .box{
  width:165rpx;
  height:165rpx;
  text-align: center;
}
.activityBox .box image{
  width:165rpx;
  height:165rpx
}
.activityBox .box:first-child image{
  width:118rpx;
  height:156rpx
}
.activityBox .line{
  width:1px;
  height:130rpx;
  background: #6C8AF8;
}
.start_Order{
  width:94%;
  height:200rpx;
  line-height: 200rpx;
  text-align: center;
  border-radius: 10rpx;
  background: #aaa;
  margin:0 auto;
  margin-top:20rpx;
  color:#fff;
}
.start_Order image{
  width:100%;
  height:100%;
  border-radius: 10rpx;
}

/*推荐*/
.tuijian_box{
  width:92%;
  margin:0 auto;
  padding-bottom:30rpx;
}
.tuijian_box .tj_title{
  font-size:34rpx;
  margin:50rpx 0 20rpx 0;
}
.tuijian_box .content{
  width:100%;
  height:200rpx;
  box-shadow: 0 2rpx 10rpx 0rpx #ccc;
  display: flex;
  justify-content:space-around;
  align-items:center;
  border-radius: 25rpx;
}
.tuijian_box .content .box{
  width:44%;
  height:160rpx;
  background: #aaa;
  border-radius: 10rpx;
}
.tuijian_box .content .box image{
  width:100%;
  height:100%;
  border-radius: 10rpx;
}




.right_margin{
  margin-left:100rpx
}
.fenlei_box .right_box .right_content{
  margin:15rpx 24rpx 0 24rpx;
}
.fenlei_box .right_box .fenlei_hd{
  width:100%;
  height:218rpx;
  border-radius: 10rpx;
}
.fenlei_box .right_box .sp_box{
  display: flex;
  margin-bottom:50rpx;
}
.fenlei_box .right_box .sp_box:last-child{
  margin-bottom:0;
}
.fenlei_box .right_box .sp_box image{
  width:176rpx;
  height:176rpx;
  margin-right:25rpx;
}

.fenlei_box .right_box .sp_box .sp_msg{
  flex-grow:2;
}
.fenlei_box .right_box .sp_box .sp_msg .title{
  font-size:30rpx;
  color:#000;
  margin-bottom:10rpx;
}
.fenlei_box .right_box .sp_box .sp_msg .label{
  width:68rpx;
  height:38rpx;
  line-height: 38rpx;
  background: #816aa2;
  font-size:24rpx;
  color:#fff;
  text-align: center;
  margin-bottom:10rpx
}
.fenlei_box .right_box .sp_box .sp_msg .text{
  font-size:24rpx;
  color:#959595;
  margin-bottom:10rpx;
}
.fenlei_box .right_box .sp_box .sp_msg .price{
  display: flex;
  justify-content:space-between;
  align-items:center
}
.fenlei_box .right_box .sp_box .sp_msg .price .title{
  font-size:26rpx;
  font-weight: 600;
  color:#000;
  margin-bottom:0;
}
.fenlei_box .right_box .sp_box .sp_msg .price .gg{
  width:110rpx;
  height:40rpx;
  line-height: 40rpx;
  background: #8269a3;
  border-radius: 30rpx;
  text-align: center;
  color:#fff;
  font-size:24rpx;
}
/*购物袋*/
.fenlei_box .shopping_car_box{
  width:100%;
  height: 100%;
  position: fixed;
  bottom:0rpx;
  transition: all 0.5s;
  z-index: -1;
}
.fenlei_box .shopping_active{
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
}
.shopping_car{
  width:100%;
  height:160rpx;
  background: #fff;
  position: fixed;
  bottom:0rpx;
  left:0rpx;
  z-index: 500;
}
.shopping_car .box{
  width:92%;
  margin:0 auto;
  height:110rpx;
  background: #323232;
  border-radius: 100rpx;
  display: flex;
  align-items: center;
  
}
.shopping_car .bag{
  position: relative;
  padding-right:26rpx;
  margin:0 24rpx 0 48rpx
}
.shopping_car .bag image{
  width:56rpx;
  height:60rpx;
}
.shopping_car .bag .num{
  position: absolute;
  right:0;
  top:-12rpx;
  width:38rpx;
  height:38rpx;
  line-height: 38rpx;
  background: #7f6aad;
  text-align: center;
  font-size:24rpx;
  color:#fff;
  border-radius: 50%;
}
.shopping_car .price_box{
  color:#fff;
  font-size:36rpx;
}
.shopping_car .price_box label{
  font-size:24rpx;
}
.shopping_car .jiesuan{
  margin-left:auto;
  width:172rpx;
  height:100%;
  line-height: 110rpx;
  background: #7f6aad;
  border-top-right-radius: 100rpx;
  border-bottom-right-radius: 100rpx;
  text-align: center;
  color:#fff;
  font-size:30rpx;
}
/*购物车列表*/
.fenlei_box .shopping_car_box .shopping_list{
  width:100%;
  position: absolute;
  bottom:160rpx;
  left:0;
  z-index: 100;
}
.fenlei_box .shopping_car_box .shopping_list .list_box{
  width:100%;
  position: absolute;
  top:0;
  left:0;
  background: #fff;
  border-top-right-radius: 30rpx;
  border-top-left-radius: 30rpx;
}
.fenlei_box .shopping_car_box .shopping_list .list_box .top_title{
  width:100%;
  height:90rpx;
  background: #f1f1f1;
  display: flex;
  border-top-right-radius: 30rpx;
  border-top-left-radius: 30rpx;
  justify-content:space-between;
  align-items: center;
  margin-bottom:30rpx;
}
.fenlei_box .shopping_car_box .shopping_list .list_box .top_title .title{
  margin-left:30rpx;
  font-size:28rpx;
  color:#000
}
.fenlei_box .shopping_car_box .shopping_list .list_box .top_title .remove{
  margin-right:30rpx;
  color:#5d5d5d;
  font-size:24rpx;
}
.fenlei_box .shopping_car_box .shopping_list .list_box .sp_box{
  width:90%;
  margin:0 auto;
  display: flex;
  align-items: center;
  margin-bottom:30rpx;
}
.fenlei_box .shopping_car_box .shopping_list .list_box .sp_box:last-child{
  /* padding-bottom:30rpx; */
}
.fenlei_box .shopping_car_box .shopping_list .list_box .sp_box image{
  width:110rpx;
  height:110rpx;
  border-radius: 10rpx;
  margin-right:12rpx;
}
.fenlei_box .shopping_car_box .shopping_list .list_box .sp_box .sp_msg{
  flex-grow:2;
}
.fenlei_box .shopping_car_box .shopping_list .list_box .sp_box .sp_msg .title{
  font-size: 30rpx;
  color: #000;
  margin-bottom: 10rpx;
}
.fenlei_box .shopping_car_box .shopping_list .list_box .sp_box .sp_msg .text{
  font-size: 24rpx;
  color: #959595;
}
.fenlei_box .shopping_car_box .shopping_list .list_box .sp_box .sp_msg .price_box{
  display: flex;
}
.fenlei_box .shopping_car_box .shopping_list .list_box .sp_box .sp_msg .price_box .price{
  font-size:26rpx;
  color:#000;
  display: flex;
  align-items: center;
}
.fenlei_box .shopping_car_box .shopping_list .list_box .sp_box .sp_msg .price_box .jj_box{
  display: flex;
  margin-left:auto;
  align-items: center;
}
.fenlei_box .shopping_car_box .shopping_list .list_box .sp_box .sp_msg .price_box .jj_box .add{
  width:40rpx;
  height:40rpx;
  line-height: 40rpx;
  border:4rpx solid #8068a6;
  border-radius: 50%;
  text-align: center;
  font-size:32rpx
}
.fenlei_box .shopping_car_box .shopping_list .list_box .sp_box .sp_msg .price_box .jj_box .num{
  font-size:32rpx;
  margin:0 20rpx;
}
.fenlei_box .shopping_car_box .shopping_list .list_box .sp_box .sp_msg .price_box .jj_box .jian{
  color:#8068a6
}
.fenlei_box .shopping_car_box .shopping_list .list_box .sp_box .sp_msg .price_box .jj_box .jia{
  background:#8068a6;
  color:#fff;
}



.my_order{
  width:100%;
  margin:0 auto 0 auto;
  background:#fff;
  margin-bottom:20rpx;
}
.my_order .order_msg{
  overflow: hidden;
}
.my_order .order_msg .msg{
  float:left;
  width:33.33%;
  text-align: center;
  margin:26rpx 0;
  color: #3a3a3a;
  font-size: 24rpx;
  border-right:1px solid #eeeeee;
  box-sizing: border-box;
}
.my_order .order_msg .msg:last-child{
  border-right:none
}
.my_order .order_msg .msg .title{
  color:#8b8b8b;
  font-size:28rpx;
  margin-bottom:16rpx;
}
.my_order .order_msg .msg .num{
  font-size:40rpx;
  color:#6c8af8;
}
.my_box .list_msg_box{
  width:86%;
  margin:0 auto;
  border-radius: 16rpx;
  background:#fff;
  padding:0 30rpx;
}
.my_box .list_msg_box .list_msg{
  height:100rpx;
  line-height: 100rpx;
  color:#3d3d3d;
  font-size:28rpx;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.my_box .list_msg_box .list_msg:last-child{
  border-bottom:none;
}
.my_box .list_msg_box .list_msg image{
  width: 40rpx;
  height: 38rpx;
  margin-right:20rpx;
}
.my_box .list_msg_box .list_msg .icon{
  margin-left:auto;
}

.line{
  width:100%;
  height:20rpx;
  background: #f7f7f7;
}
.line_10{
  width:100%;
  height:10rpx;
  background: #f7f7f7;
}

.footer_car{
  width:100%;
  height:160rpx;
  position: fixed;
  bottom:0;
  left:0;
  border-top:1px solid #dcdcdc;
  background: #fff;
  display: flex;
  font-size:24rpx;
  text-align: center;
  color:#363636;
}
.footer_car .car{
  margin-top:10rpx;
}
.footer_car .back_home .text,.footer_car .car .text{
  margin-top:10rpx;
}
.footer_car .back_home{
  margin:10rpx 50rpx 0 30rpx;
}
.footer_car .addCar{
  height:100%;
  background: #e96a5b;
}
.footer_car .newpurchase{
  height:100%;
  background: #6f8ff6;
}
.footer_car .anniu{
  display: flex;
  margin-left:auto
}
.footer_car .anniu view{
  width:200rpx;
  height:100rpx;
  line-height: 100rpx;
  color:#fff;
  font-size:26rpx;
  text-align: center;
}
/*=========我的订单============*/

/*订单详情*/
.orderXq_box .over{
  width:92%;
  height:255rpx;
  margin:0 auto;
  background: #fff;
  border-radius: 20rpx;
  margin-top:30rpx;
  overflow: hidden;
}
.orderXq_box .over .title{
  text-align: center;
  font-size:50rpx;
  color:#333;
  padding-top:44rpx;
  font-weight: 400;
}
.orderXq_box .over .text{
  margin-left:30rpx;
  color:#8b8b8b;
  font-size:24rpx;
  margin-top:68rpx;
}
.orderXq_box .over .text .num{
  margin-left:77rpx;
  color:#333;
  font-weight: 600;
}
.orderXq_box .order_msg{
  width:84%;
  padding:30rpx;
  background: #fff;
  margin:0 auto;
  margin-top:20rpx;
  border-radius: 20rpx;
}
.orderXq_box .order_msg .name{
  border-bottom:1px solid #e5e5e5;
  font-size:30rpx;
  color:#333;
  font-weight: 400;
  line-height: 40rpx;
  padding-bottom:20rpx;
}
.orderXq_box .order_msg .tx{
  margin:32rpx 0 46rpx 54rpx;
  display: flex;
  align-items: center;
}
.orderXq_box .order_msg .tx image{
  width:66rpx;
  height:66rpx;
  border-radius: 50%;
  margin-right:12rpx;
}
.orderXq_box .order_msg .tx label{
  margin-right: 12rpx;
  color:#5d5d5d;
  font-size:26rpx;
}
.orderXq_box .sp_msg{
  display: flex;
}
.orderXq_box .sp_msg image{
  width:108rpx;
  height:108rpx;
  border-radius: 10rpx;
  margin-right:24rpx;
}
.orderXq_box .sp_msg .sp .title{
  font-size:30rpx;
  margin-bottom:6rpx;
  color:#000
}
.orderXq_box .sp_msg .sp .label{
  font-size:24rpx;
  color:#626262;
  margin-bottom:6rpx;
}
.orderXq_box .sp_msg .sp .num{
  font-size:24rpx;
  color:#626262
}
.orderXq_box .sp_msg .price{
  margin-left:auto;
  margin-top:20rpx;
  font-size:26rpx;
  color:#000;
}
.orderXq_box .total{
  margin-top:66rpx;
  display: flex;
  margin-left:auto;
  justify-content:flex-end;
  align-items:flex-end;
  font-size:30rpx;
  color:#000
}
.orderXq_box .total label{
  font-size:36rpx;
}
.orderXq_box .store_msg{
  width:84%;
  padding:30rpx;
  background: #fff;
  margin:0 auto;
  margin-top:20rpx;
  border-radius: 20rpx;
}
.orderXq_box .store_msg .label{
  border-bottom:1px solid #e5e5e5;
  font-size:30rpx;
  color:#333;
  font-weight: 400;
  line-height: 40rpx;
  padding-bottom:20rpx;
}
.orderXq_box .store_msg .box{
  display: flex;
  justify-content: space-between;
  margin-top:32rpx;
  font-size:26rpx;
}
.orderXq_box .store_msg .box .title{
  color:#8b8b8b
}
.orderXq_box .store_msg .box .text{
  color:#000
}
/*优惠劵*/
.coupon_box{
  width:100%;
  height:100%;
  background: #f7f7f7;
  overflow: hidden;
}
.coupon_box .coupon{
  width:92%;
  height:250rpx;
  margin:0 auto;
  position: relative;
  margin-top:30rpx;
}
.coupon_box .coupon image{
  width:100%;
  height:100%;
  border-radius: 8rpx;
}
.coupon_box .coupon .box{
  width:91%;
  height:100%;
  padding:0 30rpx;
  position: absolute;
  top:0;
  left:0;
}
.coupon_box .coupon .box .coupon_msg{
  display: flex;
  width:100%;
  height:194rpx;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
}
.coupon_box .coupon .box .coupon_msg .price .title{
  font-size:56rpx;
  font-weight: 600;
  color:#6C8AF8;
  margin-bottom:20rpx;
}
.coupon_box .coupon .box .coupon_msg .price .title label{
  font-size:28rpx;
  font-weight: 400;
  margin-left:10rpx;
}
.coupon_box .coupon .box .coupon_msg .price .text{
  color:#949494;
  font-size:26rpx;
}
.coupon_box .coupon .box .coupon_msg .new{
  width:150rpx;
  height:50rpx;
  line-height: 50rpx;
  border-radius: 100rpx;
  text-align: center;
  color:#fff;
  font-size:26rpx;
  background: #6C8AF8;
}
.coupon_box .coupon .box .time{
  height:54rpx;
  line-height: 54rpx;
  color:#949494;
  font-size:24rpx;
}
/*===========积分商城============*/
.integral_box{
  width:100%;
  height:100%;
  background: #f7f7f7;
}
.integral_box .integral_head{
  width:100%;
  height:200rpx;
  background: #6C8AF8;
  overflow: hidden;
}
.integral_box .integral_head .integral{
  width:100%;
  display: flex;
  margin-top:100rpx;
  color:#fff;
}
.integral_box .integral_head .integral .box{
  display: flex;
  margin-left:30rpx;
  align-items: center;
}
.integral_box .integral_head .integral .box image{
  width:50rpx;
  height: 50rpx;
  margin-right:20rpx;
}
.integral_box .integral_head .integral .box .num{
  font-size:50rpx;
}
.integral_box .integral_head .integral .box .num label{
  font-size:24rpx;
  margin-left:10rpx;
}
.integral_box .integral_head .integral .gz{
  margin-left: auto;
  width:150rpx;
  height:50rpx;
  line-height: 50rpx;
  background: #fff;
  color:#6C8AF8;
  border-bottom-left-radius: 30rpx;
  border-top-left-radius: 30rpx;
  text-align: center;
  font-size:26rpx;
}
.integral_box .content_box{
  width:92%;
  margin:0 auto;
  display: flex;
  justify-content:space-between
}
.integral_box .content_box .box{
  width:47%;
  height:350rpx;
  background: #fff;
  margin-top:20rpx;
}
.integral_box .content_box .img{
  width:100%;
  height:250rpx;
  line-height: 250rpx;
  text-align: center;
}
.integral_box .content_box .img image{
  width:100rpx;
  height:50rpx;
}
.integral_box .content_box .content{
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin:0 20rpx;
}
.integral_box .content_box .content .num_box .title{
  font-size:30rpx;
  color:#000
}
.integral_box .content_box .content .num_box .text{
  margin-top:10rpx;
  font-size:30rpx;
  color:#6C8AF8
}
.integral_box .content_box .content .num_box .text label{
  font-size:24rpx;
  color:#8a8a8a;
  margin-left:10rpx;
}
.integral_box .content_box .content .receive{
  width:150rpx;
  height:50rpx;
  line-height: 50rpx;
  text-align: center;
  background: #6C8AF8;
  color:#fff;
  border-radius: 30rpx;
  font-size:26rpx;
}








